<%- include('../header.ejs')%>
  <div class="container" style="margin-top:10%;">
    <div class="row">
      <div class="col-md-2">
        <ul class="navbar-nav dash">
          <li class="nav-item"><a href="/admindashboard" class="nav-link"><i class="fa-solid fa-house"></i> Dashboard</a></li>
          <li class="nav-item"><a href="/admin/blogDisplay" class="nav-link"><i class="fa-solid fa-address-card"></i> Blogs</a></li>
          <li class="nav-item"><a href="/admin/createDisplay" class="nav-link"><i class="fa-solid fa-phone"></i>Categrious</a></li>
          <li class="nav-item"><a href="" class="nav-link"><i class="fa-solid fa-blog"></i>Contact</a></li>
          <li class="nav-item"><a href="" class="nav-link"><i class="fa-solid fa-blog"></i>Display</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link"><i class="fa-solid fa-blog"></i>Logout</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <h2><span style="color: green;" ><%= n %></span></h2>
        <h3>Your e-mail <span style="color: green;" ><%= e %></span></h3>
        <p>Facebook is an online social media and social networking service owned by American company Meta
          Platforms.Facebook is an online social media and social networking service owned by American company Meta
          Platforms.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, Facebook is an online social media and social networking service owned by American company Meta
            Platforms.Facebook is an online social media and social networking service owned by American company Meta
            Platforms voluptas nisi magnam reiciendis aliquam excepturi. Odit tempora labore debitis natus aliquid. Est excepturi, magnam nostrum omnis nemo magni dolore sed.</p>
      </div>
    </div>
  </div>

  <br><br><br>
  <%- include('../footer.ejs')%>