<%- include('../header.ejs')%>

  <!-- ABOUT START -->
  <section>
    <div class="container" style="margin-top: 120px; font-family: cursive;">
        <h2 style="color:#60748b">AbOUT</h2>
        <p class="text-center mt-3">Web Stories are a new content format on the web, so we’re all learning together what works and what doesn’t when it comes to creating them. To help web creators develop a sense of what makes a story great, we’re kicking off a series to share tips and ideas from high-quality Web Stories we’ve discovered in the wild. Watch the above episode of our YouTube series “Storytime” for this first batch of stories, read it as Web Story on your phone, or scroll on if you prefer reading Web Stories are a new content format on the web, so we’re all learning together what works <span style="color:#60748b">and what doesn’t when it comes to creating them. To help web creators develop a sense of what makes a story great, we’re kicking off a series to share tips and ideas from high-quality Web Stories we’ve discovered in the wild. Watch the above episode of our YouTube series “Storytime” for this first batch of stories,</span> read it as Web Story on your phone, or scroll on if you prefer reading
        Web Stories are a new content format on the web, so we’re all learning together what works and what doesn’t when it comes to creating them. To help web creators develop a sense of what makes a story great, we’re kicking off a series to share tips and ideas from high-quality Web Stories we’ve discovered in the wild. Watch the above episode of our YouTube series “Storytime” for this first batch of stories, read it as Web Story on your phone, or scroll on if you prefer reading</p>
    </div> <!-- container end -->
</section>
<!-- ABOUT END -->


<!-- IMAGES START -->
<section>
    <div class="container mt-4">
        <img src="/images/web3.jpg" class="img-fluid w-100 shadow-lg">
    </div> <!-- container end -->
</section>
<!-- IMAGES END -->

<br><br>
<%- include('../footer.ejs')%>