<%- include('../header.ejs')%>
  <!-- IMAGES START -->
  <section class="images" style="margin-top:120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/4 (4).jpg" class="img-fluid shadow-lg">
                <div><h5 class="text-center mt-2">Capturing the img</h5></div>
                <div><p class="text-center">July 23rd 2022,4:34 pm</p></div>
                <div><p class="text-center " style="text-align: justify; color: #60748b;">Google  computer software, quantum computing, e-commerce, artificial intelligence, and consumer electronics</p></div>
                <center><a href="/readmore"><button class="btn bg-danger"><p style="color:white;">Read more</p></button></a></center>
            </div>
            <div class="col-md-4">
                <img src="/images/drupal.jpg" class="img-fluid shadow-lg">
                <div><h5 class="text-center mt-2">Just Drupal</h5></div>
                <div><p class="text-center">July 23rd 2022,4:34 pm</p></div>
                <div><p class="text-center " style="text-align: justify; color: #60748b;">Google LLC is an American multinational technology company that focuses on search engine technology, online advertising, cloud computing,  and consumer electronics</p></div>
                <center><a href="/readmore"><button class="btn bg-danger"><p style="color:white;">Read more</p></button></a></center>
            </div>
            <div class="col-md-4 mt-4">
                <img src="/images/php.jpg" class="img-fluid shadow-lg">
                <div><h5 class="text-center mt-2">PHP</h5></div>
                <div><p class="text-center">July 23rd 2022,4:34 pm</p></div>
                <div><p class="text-center " style="text-align: justify; color: #60748b;">Google , cloud computing, computer software, quantum computing, e-commerce, artificial intelligence, and consumer electronics</p></div>
                <center><a href="/readmore"><button class="btn bg-danger"><p style="color:white;">Read more</p></button></a></center>
            </div>
        </div> <!-- row end -->

        <div class="row mt-5">
            <div class="col-md-4">
                <img src="/images/sharepoint.jpg" class="img-fluid shadow-lg">
                <div><h5 class="text-center mt-2">Play Games</h5></div>
                <div><p class="text-center">July 23rd 2022,4:34 pm</p></div>
                <div><p class="text-center " style="text-align: justify; color: #60748b;">, online advertising, cloud computing, computer software, quantum computing, e-commerce, artificial intelligence, and consumer electronics</p></div>
                <center><a href="/readmore"><button class="btn bg-danger"><p style="color:white;">Read more</p></button></a></center>
            </div>
            <div class="col-md-4 mt-4">
                <img src="/images/web6.jpg" class="img-fluid shadow-lg">
                <div><h5 class="text-center mt-2">S\W Developer</h5></div>
                <div><p class="text-center">July 23rd 2022,4:34 pm</p></div>
                <div><p class="text-center " style="text-align: justify; color: #60748b;">Google LLC is  cloud computing, computer software, quantum computing, e-commerce, artificial intelligence, and consumer electronics</p></div>
                <center><a href="/readmorel"><button class="btn bg-danger"><p style="color:white;">Read more</p></button></a></center>
            </div>
            <div class="col-md-4 mt-4">
                <img src="/images/5.jpg" class="img-fluid shadow-lg">
                <div><h5 class="text-center mt-2">Photo shoot</h5></div>
                <div><p class="text-center">July 23rd 2022,4:34 pm</p></div>
                <div><p class="text-center " style="text-align: justify; color: #60748b;">Google LLC is an American multinational technology company that focuses on search engine technology, online advertisingintelligence, and consumer electronics</p></div>
                <center><a href="/readmore"><button class="btn bg-danger"><p style="color:white;">Read more</p></button></a></center>
            </div>
        </div> <!-- row end -->

    </div> <!-- container end -->
</section>
<!-- IMAGES START END -->

<br><br>
<%- include('../footer.ejs')%>